.player {
    display: flex;
}
label {
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 3rem;
    border: 1px solid black;
    cursor: pointer;
}
label:hover {
    border-color: red;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .img{ 
    background-color: red;
} 